<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="Url" value="http://192.168.1.1/api/v1/"/>
		<add key="Username" value="admin"/>
		<add key ="Password" value="pfsense"/>
		<add key ="LanNetworkName" value="lan"/>	
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>